body {
    /*background-image: url("../imatgeslogin/fondo.jpg");*/
    background-image: url("../imatges_registre/fondo-celeste-oscuro-6269.jpg");
    background-size: cover;
}

.contenidor {
    width: 35%;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.29);
    margin: 17% auto;
    border-radius: 3%;
    text-align: center;
    border: rgb(77, 120, 129) solid;
}

img {
    margin-top: 1em;
    width: 120px;
}

h2 {
    font-family: "Bauhaus 93";
    margin-top: -.2em;
    color: rgb(148, 156, 165);
    font-size: 30px;
}

form {
    margin-top: 1.5em;
}

input[type=text], input[type=password] {
    width: 70%;
    height: 40px;
    font-size: 20px;
    padding-left: 2%;
    font-family: "Trebuchet MS";
}

button {
    width: 25%;
    height: 40px;
    font-size: 20px;
    font-family: "Trebuchet MS";
    background-color: rgb(148, 156, 165);
    border-color: rgb(148, 156, 165);
    border-radius: 10%;
}

button:hover {
    background-color: rgb(77, 120, 129);
    color: white;
    font-weight: bold;
    border-color: rgb(77, 120, 129);
}

button:active {
    color: #ecf5e9;
}

p {
    margin-top: 1.5em;
    font-size: 15px;
    font-family: "Trebuchet MS";
}

a {
    color: rgb(77, 120, 129);
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}